/*---------------CSS------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*---------------Header-----------------*/
header {
  min-height: 60px;
  background-color: #010201;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  /*sticky*/
  position: sticky;
  top: 0;
}

/*Logo*/
.logo {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img {
  height: 30px;
  width: auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav__item {
  padding: 5px 20px;
}
.nav__link {
  color: whitesmoke;
}

.nav__link:hover {
  color: blueviolet;
}

main {
  height: 1000px;
  background-color: antiquewhite;
}

/*---------------Footer-----------------*/
.footer {
  display: flex;
  flex-direction: column;
  background-color: #373737;
  align-items: center;
  padding: 10px;
}

.footer__hr {
  border: 1px solid slategray;
  width: 90%;
  margin: 10px 0;
}
.footer__list {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.footer__icon {
  height: 30px;
  width: auto;
  padding: 0 10px;
}

.footer__copyright {
  text-align: center;
  color: whitesmoke;
}
