/*---------------CSS------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*---------------Header-----------------*/
header {
  min-height: 60px;
  background-color: #010201;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  /*sticky*/
  position: sticky;
  top: 0;
}

/*Logo*/
.logo {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img {
  height: 30px;
  width: auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav__item {
  padding: 5px 20px;
}
.nav__link {
  color: whitesmoke;
}

.nav__link:hover {
  color: blueviolet;
}

main {
  background-color: #f2f2f2;
  min-height: 1000px;
}

/*-------------Hero section --------------------*/
.hero {
  height: 100vh;
  padding: 10px;
  background-image: linear-gradient(
      rgba(138, 43, 226, 0.45),
      rgba(138, 43, 226, 0.45)
    ),
    url(../assets/images/Coldplay-2022-banner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; /*image position*/
  /*center text*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title {
  font-size: 50px;
  color: whitesmoke;
  padding: 10px;
}

.hero__paragraph {
  font-size: 30px;
  color: whitesmoke;
}

/*--------------Section: Welcome----------*/
.wel {
  display: flex;
}

.wel-article {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.wel-article__btn {
  font-size: 0.85rem;
  border-radius: 10px;
  border: 1px solid #acacac;
  margin-bottom: 1rem;
  width: 200px;
  height: 50px;
  color: whitesmoke;
  background-color: blueviolet;
}

.wel-img {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #010201;
}

.wel-img img {
  width: 500px;
  border-radius: 10px;
}

@media screen and (max-width: 950px) {
  .wel {
    padding: 50px 0 0;
    flex-direction: column;
  }

  .wel-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}
/*---------------Section-----------------*/
/*form*/
.section {
  display: flex;
  justify-content: center;
  padding: 50px 10px;
  background-color: #d9d9d9;
  text-align: center;
}
.subtitle {
  padding: 10px 0 10px 0;
}

.paragraph {
  padding: 10px 0 20px 0;
}
.form {
  width: 100%;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  background-color: #f2f2f2;
}

.form__form-group {
  padding: 15px 0;
}

.form__form-group__input {
  border: 1px solid #acacac;
  padding: 5px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

.form__button {
  align-self: flex-end;
  font-size: 0.85rem;
  border-radius: 10px;
  border: 1px solid #acacac;
  margin-bottom: 1rem;
  width: 150px;
  height: 50px;
  color: whitesmoke;
  background-color: blueviolet;
}

.form__button:hover {
  color: whitesmoke;
  background-color: rgb(90, 30, 145);
}

/*---------------Footer-----------------*/
.footer {
  display: flex;
  flex-direction: column;
  background-color: #373737;
  align-items: center;
  padding: 10px;
}

.footer__hr {
  border: 1px solid slategray;
  width: 90%;
  margin: 10px 0;
}
.footer__list {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.footer__icon {
  height: 30px;
  width: auto;
  padding: 0 10px;
}

.footer__copyright {
  text-align: center;
  color: whitesmoke;
}
