/*base*/
@font-face {
  font-family: "roboto";
  src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype"), url("../../assets/fonts/Roboto/Roboto-Italic.ttf") format("truetype"), url("../../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url("../../assets/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype"); }

/*reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*utilities*/
/*layout*/
/*---------------Header-----------------*/
header {
  min-height: 60px;
  background-color: #010201;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  /*sticky*/
  position: sticky;
  top: 0;
  z-index: 4; }

/*Logo*/
.logo {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .logo__img {
    height: 30px;
    width: auto; }

.nav {
  display: flex;
  flex-wrap: wrap; }
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; }
  .nav__item {
    padding: 5px 20px; }
  .nav__link {
    color: whitesmoke; }
    .nav__link:hover {
      color: blueviolet; }

/*-- Hamburger icon */
.side-menu {
  display: none; }

/* Responsiveness */
@media (max-width: 770px) {
  /* Nav menu */
  .nav {
    width: 100%;
    height: 100%;
    flex: none;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: #373737;
    overflow: hidden; }
    .nav__list {
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: space-around;
      text-align: justify;
      margin: 0 auto; }
    .nav__link {
      flex-wrap: nowrap;
      display: block;
      padding: 30px;
      color: whitesmoke; }
      .nav__link:hover {
        background-color: #85888c; }
  .nav {
    max-height: 0;
    transition: max-height 0.5s ease-out; }
  /* Menu Icon */
  .hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
    background: #010201; }
    .hamb__line {
      background: whitesmoke;
      display: block;
      height: 2px;
      position: relative;
      width: 24px; }
      .hamb__line::before, .hamb__line::after {
        background: whitesmoke;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%; }
      .hamb__line::before {
        top: 5px; }
      .hamb__line::after {
        top: -5px; }
  .side-menu {
    display: none;
    /* Toggle menu icon */ }
    .side-menu:checked ~ nav {
      max-height: calc(100% - 80px);
      top: 80px;
      left: 0; }
    .side-menu:checked ~ .hamb .hamb__line {
      background: transparent; }
    .side-menu:checked ~ .hamb .hamb__line::before {
      transform: rotate(-45deg);
      top: 0; }
    .side-menu:checked ~ .hamb .hamb__line::after {
      transform: rotate(45deg);
      top: 0; } }

/*-------------Hero section --------------------*/
.hero {
  height: 100vh;
  padding: 10px;
  background-image: linear-gradient(rgba(138, 43, 226, 0.45), rgba(138, 43, 226, 0.45)), url(../../assets/images/Coldplay-2022-770x463.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  /*image position*/
  /*center text*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.hero__title {
  font-size: 50px;
  color: whitesmoke;
  padding: 10px; }

.hero__paragraph {
  font-size: 30px;
  color: whitesmoke; }

/*mobile first*/
@media screen and (max-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(138, 43, 226, 0.45), rgba(138, 43, 226, 0.45)), url(../../assets/images/Coldplay-2022-420x623.webp); } }

@media screen and (min-width: 970px) {
  .hero {
    background-image: linear-gradient(rgba(138, 43, 226, 0.45), rgba(138, 43, 226, 0.45)), url(../../assets/images/Coldplay-2022-banner.webp); } }

/*--------------Section: Welcome----------*/
.wel {
  display: flex; }

.wel-article {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 40px; }
  .wel-article__title {
    padding: 0 0 40px 0; }
  .wel-article__paragraph {
    padding: 0 0 16px 0; }
  .wel-article__btn {
    margin: 10px 0; }

.wel-img {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #010201; }
  .wel-img img {
    width: 500px;
    border-radius: 10px; }

@media screen and (max-width: 950px) {
  .wel {
    padding: 50px 0 0;
    flex-direction: column; }
  .wel-img img {
    width: 100%;
    height: auto;
    border-radius: 10px; } }

/*---------------Footer-----------------*/
.footer {
  display: flex;
  flex-direction: column;
  background-color: #373737;
  align-items: center;
  padding: 10px; }
  .footer__hr {
    border: 1px solid slategray;
    width: 90%;
    margin: 10px 0; }
  .footer__list {
    display: flex;
    flex-direction: row;
    padding: 10px; }
  .footer__icon {
    height: 30px;
    width: auto;
    padding: 0 10px; }
  .footer__copyright {
    text-align: center;
    color: #f5f5f5; }

/*components*/
/*button*/
.btn {
  font-size: 0.85rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1rem;
  padding: 15px 0;
  width: 180px;
  height: 50px;
  cursor: pointer;
  transition: all 0.2s; }
  .btn--primary {
    border: 1px solid #acacac;
    color: whitesmoke;
    background-color: blueviolet; }
  .btn--secondary {
    background-color: #eee;
    color: #010201;
    border: 2px solid blueviolet; }
  .btn:hover {
    filter: brightness(85%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }

body {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: #212529; }

h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px; }

p {
  font-size: 20px;
  line-height: 28px;
  font-weight: lighter;
  line-height: 30px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

main {
  background-color: whitesmoke; }
