/*---------------Footer-----------------*/
.footer {
  display: flex;
  flex-direction: column;
  background-color: $bg-primary;
  align-items: center;
  padding: 10px;

  &__hr {
    border: 1px solid $footer-hr;
    width: 90%;
    margin: 10px 0;
  }

  &__list {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  &__icon {
    height: 30px;
    width: auto;
    padding: 0 10px;
  }

  &__copyright {
    font-size: 16px;
    text-align: center;
    margin: auto;
    color: #f5f5f5;
  }
}
