/*-------------Hero section --------------------*/
.hero {
  height: 100vh;
  padding: 10px;
  background-image: linear-gradient(
      rgba(138, 43, 226, 0.45),
      rgba(138, 43, 226, 0.45)
    ),
    url(../../assets/images/Coldplay-2022-770x463.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; /*image position*/
  /*center text*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 64px;
    font-weight: 700;
    color: whitesmoke;
    padding: 20px;
  }

  &__paragraph {
    font-size: 32px;
    line-height: 1.5;
    color: whitesmoke;
    padding: 10px;
  }
  /*Animista*/
  &--slide-in {
    -webkit-animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

/**
* ----------------------------------------
* animation slide-in-top
* ----------------------------------------
*/
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/*mobile first*/
@include screen-sm-max {
  .hero {
    background-image: linear-gradient(
        rgba(138, 43, 226, 0.45),
        rgba(138, 43, 226, 0.45)
      ),
      url(../../assets/images/Coldplay-2022-420x623.webp);
    &__title {
      font-size: 56px;
    }

    &__paragraph {
      font-size: 32px;
    }
  }
}

@include screen-md-max {
  .hero {
    &__title {
      font-size: 48px;
    }

    &__paragraph {
      font-size: 20px;
    }
  }
}

@include screen-lg-min {
  .hero {
    background-image: linear-gradient(
        rgba(138, 43, 226, 0.45),
        rgba(138, 43, 226, 0.45)
      ),
      url(../../assets/images/Coldplay-2022-banner.webp);
  }
}
