/*---------------Section SUBSCRIBE-----------------*/

.section {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  background-color: $bg-color-sec;
  text-align: center;
}
.subtitle {
  padding: 10px 0 10px 0;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
}

.paragraph {
  padding: 10px 0 20px 0;
}
