/*base*/
@import "base/fonts";
@import "base/reset";

/*utilities*/
@import "utilities/breakpoints";

/*layout*/

@import "layout/header";
@import "layout/nav";
@import "layout/hero";
@import "layout/welcome";
@import "layout/about";
@import "layout/members";
@import "layout/footer";

/*components*/
@import "components/button";
@import "components/card";
body {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: #212529;
}

h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

p {
  font-size: 20px;
  line-height: 28px;
  font-weight: lighter;
  line-height: 30px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

main {
  background-color: whitesmoke;
}
